Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@Mridul00700 
academind
/
react-complete-guide-code
47
1k2.2k
Code
Issues
10
Pull requests
11
Actions
Projects
Wiki
Security
Insights
react-complete-guide-code/code/12-adding-more-react-components/src/components/meetups/MeetupItem.module.css
@maxschwarzmueller
maxschwarzmueller added slides and code
Latest commit d293d5b on Mar 24
 History
 1 contributor
46 lines (39 sloc)  636 Bytes
  
.item {
  margin: 1rem 0;
}

.image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  padding: 1rem;
}

.content h3 {
  font-size: 1.25rem;
  color: #2c292b;
}

.actions {
  padding: 1.5rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete